<%= form_with(model: offer) do |form| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
        <% offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :title, required: true, class: "form-control", placeholder: "Titre" %><br>
  <%= form.text_field :description, required: true, class: "form-control", placeholder: "Description" %><br>  
  <%= form.text_field :duration, required: true, class: "form-control", placeholder: "Durée" %><br>  
  <%= form.text_field :price, required: true, class: "form-control", placeholder: "Prix" %><br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
